<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../Documents/bootstrap.min (1).css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Document</title>
</head>

<body>
    <div th:replace="~{fragments/cabecera :: cabecera}"></div>

    <form th:action="@{/curso/nuevo/submit}" th:object="${curso}" method="post">

        <div>
            <label>Título del Curso:</label>
            <input type="text" th:field="*{titulo}" required />
        </div>

        <div>
            <label>Categoría:</label>
            <input type="text" th:field="*{categoria}" required />
        </div>

        <div>
            <label>Descripción:</label>
            <textarea th:field="*{descripcion}" rows="4"></textarea>
        </div>

        <label>Duración (horas):</label>
        <input type="number" th:field="*{horasParaFormulario}" />

        <div>
            <label>Precio:</label>
            <input type="number" step="0.01" th:field="*{precio}" />
        </div>

        <div>
            <label>Plazas Máximas:</label>
            <input type="number" th:field="*{plazasMaximas}" />
        </div>

        <div>
            <label>URL de la imagen del curso:</label>
            <input type="text" th:field="*{fotoCurso}" placeholder="https://ejemplo.com/foto.jpg" />
        </div>

        <button type="submit">Crear Curso</button>
    </form>

    <div th:replace="~{fragments/pieDePagina :: piedepagina}"></div>

</body>

</html>